---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About to Astro.">
	<main>
		<h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <p>I'm working through Astro's introductory tutorial. This is the second step, which consists on creating a second page. (how wxiting!)</p>
    <p>This site will update as I complete more of the tutorial, so keep checking the web page constantly.</p>
	</main>
</Layout>