---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="My Blog">
	<main>
		<h1>My Trip to Colombia</h1>
    <p>My trip to Colombia was amazing. I went there from Janary 27 to Febrary 5th.</p>
    <p>We first arrived to the great city of Medellín. We stayed near "El poblado", which is the most trendy neighbourhood of Medellín right now. We booked an Airbnb which was delightful.</p>
		<ul>
			<li><a href="/posts/post-1/">Post 1</a></li>
		</ul>
	</main>
</Layout>